*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
  position: relative;
  background-image: url(/bg.jpg);
  height: 100vh;
  background-size: cover;
  max-width: 100%;
}
body{
    background-color: black;
}
.opac {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

nav {
  position: relative;
  z-index: 2;  
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 25px 150px 10px 150px;
}
nav img{
    width: 150px;
    height: 40px;
}
 .butt{
    width: 550px;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
 }

 .eng{
    width: 124px;
    height: 33px;
    color: white;
    background-color: transparent;
    padding:6px 36px 6px 34px;
    border: 1.5px solid white;
    border-radius: 10px;
    
 }
 .sign{
    width:74px;
    height: 32px;
    color: white;
    background-color: #e50914;
    margin-left: 10px;
    border: px solid transparent;
    border-radius: 7px;
 }
 .contents{
    width:100%;
    height: 590px;
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3; 
 }
 .unli{
    width: 510px;
    height: 100px; 
    font-size: 40px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px; 
 }
 .price{
    width: 510px;
    height: 20px;
    margin-bottom: 24px;
    font-size: 16px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
 }
 .ready{
width: 510px;
    height: 24px;
      font-size: 16px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
 }
 .login{
width: 510px;
    height: 74px;
    padding-top: 16px;
    position: relative;
    z-index: 4;
 }
 .eadd{
    padding: 10px 16px 8px 16px;
    background-color: transparent;
    color: #ffffff;
    font-size: 17px;
    font-family: sans-serif;
    height: 100%;
    width: 62%;
 }
 .sign2{
    height: 100%;
    width: 34%;
    margin-left: 1.4%;
    background-color: #e50914;
    color: #ffffff;
    font-size: 17px;
    border:  .2px solid transparent;
    border-radius: 7px;
 }
 .gradient{
    height: 100px;
    width:1630px;
    background : linear-gradient(
                    to right,
                    rgba(33, 13, 22, 1) 16%,
                    rgba(184, 40, 105, 1),
                    rgba(229, 9, 20, 1),
                    rgba(184, 40, 105, 1),
                    rgba(33, 13, 22, 1) 84%
                );
    position: absolute;
    z-index: 5;
    border-radius: 42%;
 }
.gradient2{
    height: 100px;
    width:1630px;
     position: relative;
    z-index: 6;
    border-radius: 42%;
    background-color: #03050e; 
    margin-top: 10px;
}
 .container{
    background-color: black;
    height: 350px;     
    padding: 3px 75px 3px 75px;
     
    
 }
 .cont-title{
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    height: 30px;
 }
 .slider{
    display: flex;
    gap:40px;
 }
.cards{
    display: flex;
    position: relative;
    z-index: 6;
    justify-content: center;
    transition: transform 3.5s ease;
}
.numbers{ 
  font-size: 68px;
  font-weight: bold;
  color: black;
  text-shadow: 
    0 0 5px white, 
    0 0 10px white, 
    0 0 20px white, 
    0 0 40px white;
font-family: sans-serif;

    position: relative;
    z-index: 7;
    right: 212px;
    top:200px; 
}
 .slider:hover .cards{
     transform: translateX(-1360px);
 }
.reasons{
    background-color: black;
    height: 290px;     
    padding: 3px 75px 3px 75px;
    display: flex;
    gap: 20px;
}
.enjoy{
    width: 300px;
    height: 270px;
    background-color: #181034;
    color: white;
    border-radius: 12px;
}
.download{
    width: 300px;
    height: 270px;
    background-color: #181034;
    color: white;
    border-radius: 12px;
}
.watch{
    width: 300px;
    height: 270px;
    background-color: #181034;
    color: white;
    border-radius: 12px;
}
.create{
    width: 300px;
    height: 270px;
    background-color: #181034;
    color: white;
    border-radius: 12px;
}
.up{
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 25px 0 15px 15px;
}
.low{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 0 15px 15px;
}
.questions{
    height: 560px;
     padding: 3px 75px 3px 75px;
      
}
.que{
    height: 84px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding:24px 24px 24px 24px;
    background-color: #2d2d2d;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.que:hover{
    background-color: #414141;
}
.signagain{
    height: 150px;
    color: white;
    /* padding: 3px 75px 3px 75px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.cutt{
    display: flex;
    margin-top: 20px;
}
.addrs{
    padding: 10px 16px 8px 16px;
    background-color: transparent;
    color: #ffffff;
    font-size: 17px;
    font-family: sans-serif;
    height: 58px;
    width: 568px;
 }
 .sign3{
    height: 58px;
    width: 210px;
    margin-left: 1.4%;
    background-color: #e50914;
    color: #ffffff;
    font-size: 25px;
    border:  .2px solid transparent;
    border-radius: 3px;
 }
 .call{
    font-size: 17px;
    font-family: sans-serif;
    padding: 3px 75px 3px 120px;
    color: #FFFFFFB3;
 }
 .help
{
    width: 1230px;
    height:150px;
    color: white;
    margin: 3px 75px 3px 120px;
    display: flex;
}
.ichi{
    height: 142px;
    width: 300px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: underline;
    display: flex;
    flex-direction: column; 
}





